<section id="contact">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <form [formGroup]="contactForm" #formDir="ngForm" name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" [ngClass]="{'floating-label-form-group-with-value': name.value.length > 0 , 'floating-label-form-group-with-focus': contactFocus.name}">
              <label>Name</label>
              <input class="form-control" id="name" type="text"  placeholder="Name"  formControlName="name" required (focus)="contactFocus.name = true" (blur)="contactFocus.name = false">
              <div class="text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <ul>
                      <li *ngIf="name.errors.required">The name is required.</li>
                      <li *ngIf="name.errors.minlength">The name need at least 4 characters.</li>
                    </ul>
              </div>
            </div>
          </div> 
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" [ngClass]="{'floating-label-form-group-with-value': email.value.length > 0 , 'floating-label-form-group-with-focus': contactFocus.email}">
              <label>Email Address</label>
              <input class="form-control" id="email" type="email" placeholder="Email Address" formControlName="email" email required (focus)="contactFocus.email = true" (blur)="contactFocus.email = false">
              <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <ul>
                  <li *ngIf="email.errors.required" >The e-mail is required.</li>
                  <li *ngIf="email.errors.email" >This is not a valid e-mail.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" [ngClass]="{'floating-label-form-group-with-value': phoneNumber.value.length > 0 , 'floating-label-form-group-with-focus': contactFocus.phoneNumber}">
              <label>Phone Number</label>
              <input class="form-control" id="phone" type="tel" placeholder="Phone Number" data-validation-required-message="Please enter your phone number." formControlName="phoneNumber" name="phoneNumber" (focus)="contactFocus.phoneNumber = true" (blur)="contactFocus.phoneNumber = false">
              <div class="text-danger" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                  <ul>
                    <li *ngIf="phoneNumber.errors.required" >The phone number is required.</li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2" [ngClass]="{'floating-label-form-group-with-value': message.value.length > 0 , 'floating-label-form-group-with-focus': contactFocus.message}">
              <label>Message</label>
              <textarea class="form-control" id="message" rows="5" placeholder="Message" data-validation-required-message="Please enter a message."  formControlName="message" name="message" (focus)="contactFocus.message = true" (blur)="contactFocus.message = false"></textarea>
              <div class="text-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
                  <ul>
                    <li *ngIf="message.errors.required" >The message is required.</li>
                    <li *ngIf="name.errors.minlength">The message need at least 4 characters.</li>
                  </ul>
                </div>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>