<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<app-header>Loading...</app-header>
<app-welcome [welcome]="data?.welcome"></app-welcome>
<app-portfolio [portfolios]="data?.portfolios"></app-portfolio>
<app-about [about]="data?.about"></app-about>
<app-contact [contactTitle]="data?.contactTitle" [language]="data?.language"></app-contact>
<app-footer [footer]="data?.footer"></app-footer>
<app-copyright [copyright]="data?.copyright"></app-copyright>